<div class="conversation">
    <div *ngFor="let message of messages | async" [ngClass]="{'external': message.arrived, 'internal': !message.arrived}">
            <img [src]=message.image />
            <p><span *ngIf="message.name">{{message.name}}</span>{{message.message}}</p>
        </div>
</div>
<div class="typingIndicator">
        <span *ngIf="typingIndicator | async">{{who | async}} is typing
                <div class="container">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                </div>
        </span>
</div>
