a:hover {
    cursor: pointer;
    text-decoration: none;
}

a {
    text-decoration: underline;
}

:host {
    margin: 0 auto;
    background: white;
    width: calc(100% - 20px);
    height: 500px;
    max-width: 680px;
    display: block;
    border-radius: 6px;
}

div {
    padding: 0 28px;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    height: 61px;
    color: #2D313F;
    border-radius: 6px 6px 0 0;
    background: #FFFFFE;
}