a:hover {
    cursor: pointer;
    text-decoration: none;
}

a {
    text-decoration: underline;
}

:host {
    margin: 0 auto;
    background: white;
    width: 600px;
    height: 500px;
    display: block;
    border-radius: 10px;
    box-shadow: 5px 5px 30px black;
}

div {
    padding: 15px;
    color: #999999;
    border-radius: 10px 10px 0 0;
}